.App {
  background-color: #001219;
  height: 100vh;
  color: white;
}
.elementsInline {
  display: inline-flex;
}
.errorContainer {
  padding: 10px;
  background-color: #ae2012;
  font-weight: bold;
}
